.product-cart-layout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.product-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20em;
  height: 10em;
  border: 1px solid gray;
  box-sizing: border-box;
  padding-bottom: 1em;
}

.photo {
  width: 5em;
  height: 5em;
}

.wineName {
  box-sizing: border-box;;
  padding: 2em;
}

input:focus {
  background: lightcyan;
}

input {
  width: 50%;
  box-sizing: border-box;
  padding: 0.75em 1.25em;
  border: 1px solid gray;
  border-radius: 0.5em;
}

button {
  text-align: center;
  box-sizing: border-box;
  min-width: 5em;
  padding: 0.5em;
  background-color: lightgreen;
  border-radius: 0.25em;
}

.bottle-mini {
  width: 10em;
  height: 10em;
}

