.product-cart-layout {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:flex-start;
}

.product-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20em;
  height: 10em;
  border: 1px solid gray;
  box-sizing: border-box;
  padding-bottom: 1em;
}

.photo {
  width: 5em;
  height: 5em;
}

.wineName {
  box-sizing: border-box;;
  padding: 2em;
}
