<div>
  <form class="wineName">
    <label for="wineSearch">Input wine name: </label>
    <input type="text"
           id="wineSearch"
           [ngModelOptions]="{standalone: true}"
           [(ngModel)]="searchItem">
    <button (click)="filterProduct(searchItem)">Search</button>
    <button (click)="updateProduct()">Clear field</button>
  </form>
</div>
<!--<app-filtration>-->
<!--(priceFilter)="filterPrice($event)"-->
<!--</app-filtration>-->
<div class="product-cart-layout">
  <div *ngFor="let item of pageOfItems">
    <div class="product-cart-container">
      <div>
        <img [src]="item?.photo" class="bottle-mini">
      </div>
      <div>
        <div>
          {{item?.name}}
        </div>
        <div>
          {{item?.country}}
        </div>
        <div>
          {{item?.price | currency}}
        </div>
        <button
          [disabled]="!isLoggedIn"
          (click)="addToBasket(item)">
          Add to cart
        </button>
        <a routerLink="{{item.id}}">Detail</a>
      </div>
    </div>
  </div>
</div>
<div class="pagination-wrapper">
  <jw-pagination [items]="filteredProducts"
                 (changePage)="onChangePage($event)">
  </jw-pagination>
  <!--<jw-pagination [items]="fbProducts"-->
  <!--(changePage)="onChangePage($event)">-->
  <!--</jw-pagination>-->
</div>
