.card {
  width: 100%;
}

.card-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.card-wrapper {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

.bottle-mini {
  width: 5em;
  height: 8em;
}
