<!--<div *ngIf="products?.length > 0; else noProducts">-->
<div class="container"
     *ngFor="let product of products"
     [hidden]="filter(product?.email | lowercase)">
  <div class="card-wrapper">
    <div class="card">
      <img class="card-img-top bottle-mini" [src]="product?.photo" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{product?.name}}</h5>
        <p class="card-text">
          {{product?.country}}
        </p>
        <div class="card-buttons">
          <a class="btn btn-primary"
             routerLink="/account/{{product?.id}}"
             (click)="editWine(product)">
            Edit
          </a>
          <a class="btn btn-danger"
             (click)="deleteWine(product)">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--<div [hidden]="products">-->
<!--No wines!-->
<!--</div>-->

<!--</div>-->
<!--<ng-template #noProducts>-->
<!--<hr>-->
<!--<h5>There are no wines in your list</h5>-->
<!--</ng-template>-->
