<div>
  <h2 class="shopping-cart-title">Shopping Cart</h2>
</div>
<div *ngIf="products !== undefined && products.length !== 0">
  <table class="table">
    <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col">Wine</th>
      <th scope="col">Price</th>
      <th scope="col">Available</th>
      <th scope="col">You wish</th>
      <th scope="col">Total price</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody *ngFor="let product of products; let i = index">
    <tr>
      <th scope="row">{{i+1}}</th>
      <td>
        <img [src]=product?.photo>
      </td>
      <td>{{product?.name}}</td>
      <td>{{product?.price | currency}}</td>
      <td>{{product?.quantity}}</td>
      <td><label for="quantity"></label>
        <input
          #quantity
          type="number"
          name="productQuantity"
          step="1"
          value="1"
          id="quantity"
          max={{product?.quantity}}
          min=1>
      </td>
      <td>
        {{quantity.value * product?.price | currency}}
      </td>
      <td>
        <button (click)="delete(product)">
          Delete
        </button>
      </td>
      <td>
        <button
          (click)="order(product)">
          Order
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div *ngIf="!products || products === undefined || products === null">
  Your shopping cart is empty
</div>
