<header>
  <div class="header">
    <div class="logo">Great wines</div>
    <ul class="user-info">
      <li class="user-info-item">
        <a [routerLink]="'/login'">
          Login
        </a>
      </li>
      <li class="user-info-item">|</li>
      <li class="user-info-item">
        <a [routerLink]="'/register'">
          Register
        </a>
      </li>
      <li class="user-info-item">
        <a [routerLink]="'/basket'">
          <img class="basket" src="./../../assets/images/shopping-basket.png" alt="basket">
        </a>
        <span>{{productQuantity}}</span>
      </li>
    </ul>
  </div>
</header>
