<h3>Great Wines</h3>
<div class="about-container">
  <div class="photo">
  </div>
  <div class="info">
    We are a team of passionate wine enthusiasts. Where we're helping you find a special wine on the shop floor, managing our extensive wine reserves at our temperature controlled warehouse or working hard to source the finest & rarest bottles in world, we all have a passion for everything oenological or spirituous!
    If you have any specific questions for any member of the team, don't hesitate to click "contact us" to send over an email. We look forward to helping you find that perfect bottle!
  </div>
</div>
