<div class="wrapper">
  <div class="contact-details">
    <div class="detail">
      <h3>Contact details:</h3>
      <p>Tel: +375-29-7777777</p>
      <p>Email: wines@gmail.com</p>
    </div>
    <div class="address">
      <h3>Our address:</h3>
      <p>7/7 Wine Street</p>
      <p>Grodno</p>
      <p>Belarus</p>
    </div>
    <div class="social">
      <h3>Our socials:</h3>
      <div class="social-group">
        <div class="social-icons">
          <a href="/">
            <img src="./../../assets/images/social-icons/facebook.png" alt="fb">
          </a>
        </div>
        <div class="social-icons">
          <a href="/">
            <img src="./../../assets/images/social-icons/twitter.png" alt="tw">
          </a>
        </div>
        <div class="social-icons">
          <a href="/">
            <img src="./../../assets/images/social-icons/instagram.png" alt="inst">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="form-message">
    <h2>Contact</h2>

  </div>
</div>
