.wrapper {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  box-sizing: border-box;
}


.contact-details {
  flex-basis: 30%;
  border: 1px solid gray;
  box-sizing: border-box;
  padding: 2em 1em;
}

img {
  width: 2em;
  height: 2em;
}

.social-group {
  display: flex;
  flex-direction: row;
}
