<ul class="user-info">
  <li class="user-info-item">
    <a *ngIf="!isLoggedIn" routerLink='/login'>
      Login
    </a>
  </li>
  <li class="user-info-item">
    <a *ngIf="isLoggedIn"
       (click)="onLogoutClick()"
       href='#'>
      Logout
    </a>
  </li>
  <li class="user-info-item">|</li>
  <li class="user-info-item">
    <a routerLink='/register'>
      Register
    </a>
  </li>
  <li class="user-info-item">
    <a routerLink='/auth'>Register</a>
  </li>
</ul>
<router-outlet></router-outlet>
