<div class="wrapper">
  <div class="main-image">
  </div>
</div>
<div class="info-mini-wrapper">
  <div class="info-mini-photo photo-one">
  </div>
  <div class="info-mini-text info-mini-text-one">
    All wine lovers start out the same way. We are moved by the simple act of tasting a wine. There is something in that wine that captures our attention. It could be the aromas, the texture on your palate, or just the moment frozen in time that leaves you wanting to repeat that experience. In time, something else happens to every wine lover. At first, they want to know more about the wine they were initially moved by. The next step comes when your interests began expanding. Perhaps you start tasting or buying more wines from the same producer, or at least from that appellation. In time, your horizons continue widening and your branch out to satiate your curiosity and begin trying wines from other regions or countries.
  </div>
</div>
<div class="info-mini-wrapper">
  <div class="info-mini-text">
    Buying wine is like buying art, except that you have to consume at least some of it along the way to enjoy it. So pick what you like. The only wines really worth collecting are ones you actually like to drink. Investment potential? Remember that wine isn’t as liquid (no pun intended) as stocks, and there are no guarantees that prices for your bottles will rise to bragging levels by the time you want to sell.
  </div>
  <div class="info-mini-photo photo-two">

  </div>
</div>
<div class="info-mini-wrapper">
  <div class="info-mini-photo photo-three">

  </div>
  <div class="info-mini-text">


    By this point, your intellectual curiosity kicks in and you want to learn about wine. You begin subscribing to wine magazines, buying a few books and possibly joining a wine group or two. Before you know it, you’re visiting the wine regions that move you. By this point, you want to know even more, because wine has become a passion. Trust me, I know, because that is exactly what happened to me. To this day, I still enjoy learning more about wine, especially from the regions I am most of.
  </div>
</div>
