.nav-wrapper {
  margin-top: 2em;
}

.user-mail {
  color: #6D3023;
  border-bottom: 1px solid #6D3023;
}

.nav {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 1em;
  background-color: #f6f0ed;
  border-bottom: 1px solid #dce5f2;
  display: flex;
  justify-content: space-around;
  width: 60%;
}

nav a {
  color: #6D3023;
  padding: 0.25em 0.75em;
  margin: 0 0.075em;
  text-decoration: none;
}

nav a.active {
  color: #6D6E70;
  border-bottom: 1px solid #6D3023;
}

app-footer {
  flex-shrink: 0;
}

html, body {
  height: 100%;
}

.app {
  flex: 1;
}
