.product-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 20%;
  height: 20%;
}

.product-cart-detail {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 50%;
  height: 100%;
  background-color: lightblue;
  border: 1px solid black;
}

.photo {
  width: 5em;
  height: 10em;
}
