<div *ngFor="let product of products">
  <div class="product-cart-container">
    <div class="product-cart-detail">
      <div>
        <img class="photo" [src]='product.photo'>
      </div>
      <div>
        <ul>
          <li>
            {{product?.producer}}
          </li>
          <li>
            {{product?.country}}
          </li>
          <li>
            {{product?.vintage}}
          </li>
          <li>
            {{product?.prise | currency}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
