<form [formGroup]="addWineForm"
      (ngSubmit)="onSubmit(addWineForm)"
      class="addWineForm">
  <h3>Add new wine</h3>
  <div>
    Wine name:
    <input type="text"
           placeholder="name"
           name="name"
           formControlName="name">
  </div>
  <div *ngIf="addWineForm.controls['name'].invalid && addWineForm.controls['name'].touched" class="error">
    Input wine name!
  </div>
  <div>
    Wine prise:
    <input type="number"
           placeholder="price"
           name="price"
           formControlName="price">
  </div>
  <div *ngIf="addWineForm.controls['price'].invalid && addWineForm.controls['price'].touched" class="error">
    Input wine price!
  </div>
  <div>
    Country:
    <input type="text"
           placeholder="country"
           name="country"
           formControlName="country">
  </div>
  <div *ngIf="addWineForm.controls['country'].invalid && addWineForm.controls['country'].touched" class="error">
    Input wine country!
  </div>
  <div>
    Wine vintage:
    <input type="number"
           placeholder="vintage"
           name="vintage"
           formControlName="vintage">
  </div>
  <div *ngIf="addWineForm.controls['vintage'].invalid && addWineForm.controls['vintage'].touched" class="error">
    Input wine vintage!
  </div>
  <div>
    Quantity:
    <input type="number"
           placeholder="quantity"
           name="quantity"
           formControlName="quantity">
  </div>
  <div *ngIf="addWineForm.controls['quantity'].invalid && addWineForm.controls['quantity'].touched" class="error">
    Input wine quantity!
  </div>
  <div>
    Wine photo:
    <input type="text"
           placeholder="photo"
           name="photo"
           formControlName="photo">
  </div>
  <div *ngIf="addWineForm.controls['photo'].invalid && addWineForm.controls['photo'].touched" class="error">
    Input wine photo!
  </div>
  <div>
    <button [disabled]="!addWineForm.valid">Add Wine</button>
  </div>
  {{addWineForm}}
</form>
