.product-cart-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20em;
  height: 10em;
  border: 1px solid gray;
}

.photo {
  width: 5em;
  height: 5em;
}

.shopping-cart-title {
  text-align: center;
  box-sizing: border-box;
  padding-top: 2em;
}

.shopping-cart-title::before {
  content: url("./../../assets/images/grapes.png");
}

.empty-basket {
  text-align: center;
  line-height: 8em;
  margin: 4em auto;
}

.cart-buttons {
  display: flex;
  justify-content: space-between;
}

.cart-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
