.product-cart-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-cart-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 20em;
  height: 10em;
  border: 1px solid gray;
}

.photo {
  width: 5em;
  height: 5em;
}
