.nav {
  margin: 0 auto;
  padding: 0 0 20px;
  border-bottom: 1px solid #dce5f2;
}

nav a {
  background: #3a4250;
  color: #fff;
  padding: 0.25em 0.75em;
  margin: 0 0.075em;
  border-radius: 0.25em;
}

nav a.active {
  color: #b690f1;
  background: #363c48;
}
