<form [formGroup]="registerForm" class="registerForm">
  <h3>Create New Account</h3>
  <div>
    First name:
    <input type="text"
           placeholder="first name"
           name="name"
           formControlName="firstName">
  </div>
  <div *ngIf="registerForm.controls['firstName'].invalid && registerForm.controls['firstName'].touched" class="error">
    Input your name!
  </div>
  <div>
    Last name:
    <input type="text"
           placeholder="last name"
           name="surName"
           formControlName="lastName">
  </div>
  <div *ngIf="registerForm.controls['lastName'].invalid && registerForm.controls['lastName'].touched" class="error">
    Input your last name!
  </div>
  <div>
    Date of birth:
    <input type="date"
           placeholder="date of birth"
           name="birth"
           formControlName="dateOfBirth">
  </div>
  <div *ngIf="registerForm.controls['dateOfBirth'].invalid && registerForm.controls['dateOfBirth'].touched" class="error">
    Input your date of birth!
  </div>
  <div>
    Phone:
    <input type="text"
           placeholder="your phone"
           name="mobile"
           formControlName="phone">
  </div>
  <div *ngIf="registerForm.controls['phone'].invalid && registerForm.controls['phone'].touched" class="error">
    Input your phone!
  </div>
  <div>
    Email:
    <input type="text"
           placeholder="your email"
           name="mail"
           formControlName="email">
  </div>
  <div *ngIf="registerForm.controls['email'].invalid && registerForm.controls['email'].touched" class="error">
    Input your email!
  </div>
  <div>
    Password:
    <input type="text"
           placeholder="password"
           name="passOne"
           formControlName="password">
  </div>
  <div *ngIf="registerForm.controls['password'].invalid && registerForm.controls['password'].touched" class="error">
    Input your password!
  </div>
  <div>
    Repeat password:
    <input type="text"
           placeholder="repeat password"
           name="passTwo"
           formControlName="repeatPassword">
  </div>
  <div *ngIf="registerForm.controls['repeatPassword'].invalid && registerForm.controls['repeatPassword'].touched" class="error">
    Repeat your password!
  </div>
  <div>
    <button [disabled]="!registerForm.valid">Register</button>
  </div>
  <div>
    {{registerForm.value | json}}
  </div>
</form>
