.card {
  width: 15em;

}

.card-wrapper {
  width: 60%;
  margin: 0 auto;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

a {
  cursor: pointer;
}

.bottle-mini {
  width: 5em;
  height: 8em;
}

