<div class="container"
     *ngFor="let product of products"
     [hidden]="filter(product?.email | lowercase)">
  <!--<div class="cart">{{product?.name}}</div>-->
  <div class="card-wrapper">
    <div class="card">
      <!--<img class="card-img-top" src="..." alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">{{product?.name}}</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div>
</div>

