<div class="container"
     *ngFor="let product of products"
     [hidden]="filter(product?.email | lowercase)">
  <div class="card-wrapper">
    <div class="card">
      <!--<img class="card-img-top" [src]="product?.photo" alt="Card image cap">-->
      <div class="card-body">
        <h5 class="card-title">{{product?.name}}</h5>
        <p class="card-text">
          {{product?.country}}
        </p>
        <div class="card-buttons">
          <a href="#"
             class="btn btn-primary"
             (click)="editWine(product)">
            Edit
          </a>
          <a href="#"
             class="btn btn-primary"
             (click)="deleteWine(product)">
            Delete
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
</div>

