.contacts-wrapper {
  display: flex;
  width: 90vw;
  margin: 0 auto;
  box-sizing: border-box;
}

.contact-details {
  flex-basis: 30%;
  margin: 1em 0;
  border: 1px solid gray;
  border-radius: 0.25em;
  box-sizing: border-box;
  padding: 2em 1em;
}

img {
  width: 2em;
  height: 2em;
}

.social-group {
  display: flex;
  flex-direction: row;
}

h2 {
  text-align: center;
}

h2::before {

}

.form-message {
  box-sizing: border-box;
  padding: 2em;
}

.messageForm {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  width: 50vw;
  height: auto;

}

.error {
  color: #da6969;
  font-size: 0.75em;
}

input, textarea {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75em 1.25em;
  border: 1px solid gray;
  border-radius: 0.5em;
}

textarea:focus {
  background: lightcyan;
}

input:focus {
  background: lightcyan;
}

.contactMessageFormItem {
  margin-bottom: 1em;
}

.app-button {
  text-align: center;
  box-sizing: border-box;
  min-width: 4em;
  padding: 0.25em 0.4em;
  background-color: seagreen;
  color: white;
  border-radius: 0.25em;
}

@media (max-width: 40em) {
  .contacts-wrapper {
    flex-direction: column;
  }

  .form-message {
    padding: 0;
    width: 100%;
  }

  .messageForm {
    width: 100%;
  }
}
