<div class="wrapper">
  <div class="contact-details">
    <div class="detail">
      <h3>Contact details:</h3>
      <p>Tel: +375-29-7777777</p>
      <p>Email: wines@gmail.com</p>
    </div>
    <div class="address">
      <h3>Our address:</h3>
      <p>7/7 Wine Street</p>
      <p>Grodno</p>
      <p>Belarus</p>
    </div>
    <div class="social">
      <h3>Our socials:</h3>
      <div class="social-group">
        <div class="social-icons">
          <a href="/">
            <img src="../../../../assets/images/social-icons/facebook.png" alt="fb">
          </a>
        </div>
        <div class="social-icons">
          <a href="/">
            <img src="../../../../assets/images/social-icons/twitter.png" alt="tw">
          </a>
        </div>
        <div class="social-icons">
          <a href="/">
            <img src="../../../../assets/images/social-icons/instagram.png" alt="inst">
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="form-message">
    <h2>Contact</h2>
    <div>
      <form [formGroup]="contactMessageForm"
            (ngSubmit)="onSubmit()"
            class="messageForm">
        <div class="contactMessageFormItem">
          <label for="name">
            First name:
          </label>
          <input type="text"
                 id="name"
                 placeholder="first name"
                 name="name"
                 formControlName="firstName">
        </div>
        <div
          *ngIf="contactMessageForm.controls['firstName'].invalid && contactMessageForm.controls['firstName'].touched"
          class="error">
          Input your name!
        </div>
        <div class="contactMessageFormItem">
          <label for="mail">
            Email:
          </label>
          <input type="text"
                 id="mail"
                 placeholder="email"
                 name="mail"
                 formControlName="email">
        </div>
        <div *ngIf="contactMessageForm.controls['email'].invalid && contactMessageForm.controls['email'].touched"
             class="error">
          Input your email!
        </div>
        <div class="message contactMessageFormItem">
          <label for="message">Message:</label>
          <textarea name="message"
                    id="message"
                    formControlName="message"
                    cols="30" rows="10">

          </textarea>
          <div *ngIf="contactMessageForm.controls['message'].invalid && contactMessageForm.controls['message'].touched"
               class="error">
            Write something, please)
          </div>
        </div>
        <div>
          <button [disabled]="!contactMessageForm.valid">Send</button>
        </div>
        <!--<div>-->
          <!--{{contactMessageForm.value | json}}-->
        <!--</div>-->
      </form>
    </div>
  </div>
</div>
