<form class="registerForm">
  <h3>Create New Account</h3>
  <div>
    First name:
    <input type="text"
           placeholder="first name"
           [formControl]="firstNameControl">
  </div>
  <div>
    Last name:
    <input type="text"
           placeholder="last name"
           [formControl]="lastNameControl">
  </div>
  <div>
    Date of birth:
    <input type="date"
           placeholder="date of birth"
           [formControl]="dateOfBirthControl">
  </div>
  <div>
    Phone:
    <input type="text"
           placeholder="your phone"
           [formControl]="phoneControl">
  </div>
  <div>
    Email:
    <input type="text"
           placeholder="your email"
           [formControl]="mailControl">
  </div>
  <div>
    <label>Age</label>
    <input type="checkbox"
           [formControl]="ageControl">
    I am over 18 years.
  </div>
  <div>
    <button [formControl]="submitControl">
      Create new account
    </button>
  </div>
</form>
