.signInForm {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 1em;
  width: 50vw;
  height: 20em;
  border: 1px solid darkgray;

}

h3 {
  text-align: center;
}

.error {
  color: #da6969;
  font-size: 0.75em;
}

div {
  margin: 0 0 1.25em;
}

button {
  margin: 0 0 1.25em;
}
