<form #myForm="ngForm" (ngSubmit)="submitData(myForm.value, myForm.valid)" class="signInForm">
  <h3>Log In</h3>
  <div>
    Name
    <input type="text"
           name="userName"
           [ngModel]="user?.userName"
           required
           #userNameControl="ngModel">
    <div *ngIf="userNameControl.invalid && userNameControl.touched" class="error">
      User name is required
    </div>
  </div>
  <div>
    Password
    <input type="text"
           name="password"
           required
           #userPasswordControl="ngModel"
           [ngModel]="user?.password">
    <div *ngIf="userPasswordControl.invalid && userPasswordControl.touched" class="error">
      User name is required
    </div>
  </div>
  <div *ngIf="loginError && loginError.length > 0"
       class="error" >
    {{loginError}}
  </div>
  <div>
    <button type="submit"
            name="submit"
            [disabled]="!myForm.valid">
      Submit
    </button>
  </div>
  <hr>
  {{myForm.value | json}}
</form>
